<nav class="navbar navbar-light bg-light">
    <h3 class="">{{screen}}</h3>
    <form action="/logout" method="POST">
        <button type="submit" class="btn btn-danger ml-auto">LOGOUT</button>
    </form>
</nav>
<div class="offset-md-3 col-md-6 text-center">
    {{#if task}}
    <h1>Task Assigned</h1>
        <h3>Requested By: {{task.supervisor.screenName}}</h3>
        <p>Deposit Location: {{task.depositLocation}}</p>
        <p>Requested extra hands: {{task.runnerRequest}}</p>
        {{#if task.quantity}}
            {{#if task.item}}
                <p>Requested {{task.quantity}} {{task.item}}</p>
            {{else}}
                <p>Requested No specific item: please contact supervisor</p>
            {{/if}}
        {{/if}}
    {{else}}
        <h2>No task currently assigned</h2>
    {{/if}}
</div>
<script>
    setInterval(function() {
    location.reload();
    }, 3000);
</script>
